@import "./themes/macchiato.css";
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "CaskadyaCove Nerd Font", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1rem;
  min-height: 0;
}

/* LEFT MODULE */

#user {
  color: @maroon;
  background: @base;
  margin-left: 10px;
  padding: 2px 16px;
}

window#waybar {
  background-color: @mantle;
  transition-property: background-color;
  transition-duration: 0.3s;
}

/* Workspaces */
button {
  border: none;
  margin: 0 4px;
  background-color: transparent;
}

#workspaces button {
  color: @teal;
}
#workspaces button:hover {
  background-color: transparent;
  color: @sapphire;
}

#workspaces button.focused {
  background-color: @maroon;
}

#workspaces button.urgent {
  background-color: @red;
}
#workspaces {
  background-color: @surface0;
  padding-left: 4px;
  margin-left: 8px;
}

/* MIDDLE MODULE */

#window {
  color: @blue;
  padding: 0 8px;
}

/* RIGHT MODULE */
#custom-chatgpt,
#custom-shares,
#network,
#bluetooth {
  color: @mantle;
  background-color: @sky;
  padding: 2px 8px;
}

#temperature,
#cpu,
#memory {
  color: @mantle;
  background-color: @maroon;
  padding: 2px 8px;
}

#keyboard-state,
#pulseaudio,
#clock {
  color: @mantle;
  background-color: @mauve;
  padding: 2px 8px;
}

#custom-power {
  background-color: @base;
  color: @red;
  margin-right: 10px;
  padding: 2px 16px;
}
