@import "main"

configuration {
  font: "CaskaydiaCove Nerd Font 12";
  display-drun: "Apps: ";
  drun-display-format: "{name}";

}

inputbar, entry, mainbox {
  background-color: @BG;
}
mainbox {
  spacing: 20px;
}
element, window {
  border: 0px;
  border-color: @BDR;
}
inputbar {
  children: ["prompt","entry"];
  background-color: @BDR;
}
entry {
  placeholder: "Search here...";
  text-color: @SEL;
  background-color: @BDR;
}
